#build
Objects/
Listings/
obj/
lst/
build-debugTool-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/

#Keil
*.uvgui.Acer
*.uvopt
*.uvguix.Acer
*.uvoptx
*.scvd

#OSX
*.DS_Store
*.swp

#VSCode
.vscode/

#VS
.vs/

*.uvgui.*
.src/
.*.*
~$*.xlsx
